@import 'variables';
@import 'fonts';
@import 'normalize';

.burger {
	cursor: pointer;
}

.shown {
	display: block !important;
}

.frezze {
	overflow: hidden;
}

.menu {
	display: none;
	.background {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgba(00,00,00, .5);
	}
	.menu-content {
		position: absolute;
		font-size: 18pt;
		display: flex;
		justify-content: center;
		right: 0;
		width: 300px;
		height: 100vh;
		background-color: white;
		.link-list {
			margin-top: 20px;
			.link_js {
				margin: 10px 0;
				a {
					text-decoration: none;
					color: #000;
					&:hover {
						transition: .25s ease;
						border-bottom: 2px solid $second-accent-color;
					}
				}
			}
		}	
	}
}

.strip {
	height: 3px;
	width: 150px;
	background-color: $second-accent-color;
	margin-bottom: 20px;
}

header, .header-wrapper {
	min-height: 142px;
}

header {
	background-color: $header-color;
	.header-wrapper {
		margin: 0 140px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		i {
			font-size: 30pt;
		}
		.sign {
			color: $second-accent-color;
			font-size: 38pt;
		}
		.title {
			display: flex;
			flex-direction: row;
			align-items: center;
			h2 {
				margin: 0;
				font-size: 32pt;
				letter-spacing: 4px;
				color: $main-color;
				margin-left: 30px;
			}
		}
	}
}

section, .wrapper, .scroll, footer {
	display: flex;
	flex-direction: column;
}

.be-creative {
	min-height: 708px;
	background-color: #353535;
	color: #d6d5d5;
	align-items: center;
	justify-content: flex-end;
	.mouse {
		font-size: 36pt;
		margin-bottom: 20px;
	}
	.wrapper {
		height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .headers-wrapper {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    }
	}
	.wrapper, .scroll {
		align-items: center;
	}
	.scroll {
		margin-bottom: 46px;
		font-size: 12pt;
		justify-content: flex-end;
	}
	h1, h3 {
		letter-spacing: 8px;
	}
}

.about-us {
	min-height: 568px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.description {
		font-size: 14pt;
		margin:30px 0 62px;
	}
	.card-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.sign {
			color: $second-accent-color;
			font-size:50pt;
		}
		.card {
			margin: 0 10px;
			max-width: 320px;
			min-height: 195px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #ebebeb;
			color: #707070;
			&-description {
				margin: 0;
			}
		}
	}
}

.video {
	min-height: 430px;
	background-color: $first-accent-color;
	font: $bold-font-family, sans-serif;
	color: white;
	.wrapper {
		min-height: 430px;
		flex-direction: row;
		justify-content: center;
	}
	&-placeholder {
		position: relative;
		height: 430px;
		img {
			width: 100%;
			height: 430px;
		}
		.play {
			position: absolute;
			font-size: 150pt;
			left: 55%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&-description {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h4 {
			font: $bold-font-family, sans-serif;
		}
		.play-button {
			font: $bold-font-family, sans-serif;
			color: white;
			padding: 8px 30px;
			background-color: $second-accent-color;
			border-bottom: 2px solid #b11000;
			margin-top: 30px; 
		}
	}
}

.our-works {
	min-height: 294px;
	.wrapper {
		min-height: 294px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.project-list {
			font-size: 14pt;
		}
		.description {
			margin: 30px 0; 
		}
		.branch {
			display: inline;
			margin: 0 8px;
			font: $light-font-family, sans-serif;
		}
		.selected {
			border-bottom: 3px solid $second-accent-color;
			font: $bold-font-family, sans-serif;
		}
	}
}

.projects {
	.project {
		background-color: $second-accent-color;
		max-width: 384px;
		height: 175px;
		margin: .5px;
	}
}

.clients {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 230px;
	background-color: #1c1c1c;
	color: #ececec;
	.item {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.client-name {
		margin: 10px 5px;
	}
}

.social-media-list {
	.social-media, {
		display: inline-block;
		color: $main-color;
	}
}

.team {
	min-height: 813px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 48pt;
	}
	.description {
		margin: 50px 200px 0;
	}
	.wrapper {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 92px;
		.member {
			min-height: 419px;
			min-width: 301px;
			padding: 10px;
			background-color: #ebebeb;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;		
			.photo {
				background-color: $second-accent-color;
				border-radius: 50%;
				min-width: 132px;
				min-height: 132px;
			}
			h4 {
				font: $bold-font-family;
				font-size: 20pt;
				margin-top: 34px;
			}
			h5 {
				font: $light-font-family;
				font-size: 14pt;
			}
			.social-media-list {
				margin-top: 30px;
			}
			.circles-list {
				margin-top: 20px;
				.item {
					display: inline-block;
					.circle {
						border-radius: 50%;
						background-color: $header-color;
						height: 12px;
						width: 12px;
					}
					.selected {
						background-color: #8e8181 !important;
					}
				}
			} 
		}
		.skills {
			max-width: 640px;
			min-height: 439px;
			background-color: #ebebeb;
			margin-left: 20px;
			padding-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			&-description {
				text-align: left;
				margin: 25px 0 62px;
			}
			h4 {
				font: $bold-font-family;
				font-size: 24pt;
			}
			.prop-wrapper {
				margin: 20px 0 20px 0;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				.prop-title {
					width: 125px;
					font: $bold-font-family;
					margin-right: 15px;
				}
				.percent {
					margin-right: 0;
					margin-left: 15px;
					font: $light-font-family;
				}
				.strip {
					width: 400px;
					height: 2px;
					background-color: white;
					.progress {
						width: 360px;
						height: 2px;
						background-color: $second-accent-color;
					}
				} 
			}
		}
	}
}

.features {
	min-height: 384px;
	font: $light-font-family;
	color: white;
	background-color: $first-accent-color;
	justify-content: center;
	align-items: center;
	.strip {
		margin-bottom: 50px;
	}
	h1 {
		font-size: 36pt;
	}
	.features-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		.feature {
			display: inline-block;
			margin: 0 20px;
			.wrapper {
				justify-content: center;
				align-items: center;
				h6 {
					font: $light-font-family;
					font-size: 18pt;
					margin:18px 0;
					text-align:center;
				}
				.amount {
					font-size: 48pt;
				}
				.sign {
					color: $second-accent-color;
					font-size: 60pt;
				}
			}
		}
	}
}

.blog-post {
	min-height: 796px;
	justify-content: center;
	align-items: center;
	.blog-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	.strip {
		margin-bottom: 20px;
	}
	.description {
		margin:25px 0;
	}
	.blog {
		margin: 0 5px;
		display: inline-block;
		max-width: 312px;
		min-height: 425px;
		background-color: #ebebeb;
		.img-2 {
			background: url("../assets/images/Image4.png") no-repeat center center;
		}
		.blog-img {
			min-height: 218px;
			background-color: $main-color;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			&:hover {
				.blog-btn {
					display: flex;
				}
			}
			.blog-btn {
				border-radius: 50%;
				margin: 10px;
				width: 50px;
				height: 50px;
				display: none;
				justify-content: center;
				align-items: center;
				.sign-dark, .sign-light {
					font-size: 24pt;
				}
				.sign-dark {
					color: #f3d8d3
				}
				.sign-light {
					color: #e67b5d
				}
				&:first-child {
					background-color: #e67b5d;
				}
				&:last-child {
					background-color: #f3d8d3;
				}
			}
		}
		&-description {
			padding: 10px;
			h5 {
				font: $light-font-family;
				font-size: 18pt;
			}
			.description {
				font-size: 12pt;
				text-align: left;
			}
			.wrapper {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}

.pricing {
	min-height: 708px;
	background-color: $first-accent-color;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.card {
		display: inline-block;
		border:2px solid transparent;
		&:hover {
			transition: .2s ease-out;
			border:2px solid #f6744b;
			.advantage-amount {
				color: #f6744b;
			}
		}	
	}
	.strip {
		margin-bottom: 30px;
	}
	.properties {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px;
		background-color: #1f282c;
		.advantages {
			display: flex;
			flex-direction: column;
			align-items: center;
			.advantage {
				display: block;
				font: $light-font-family;
				font-size: 14pt;
				margin: 6px 0;
				&-amount {
					font: $bold-font-family;
				}
			}
		}
		.purchase-btn {
			padding: 10px 25px;
			background-color: #f6744b;
			color: white;
			border-radius: 5px;
			margin-top: 30px;
		}
		
	}
	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 232px;
		min-height: 128px;
		background-color: #0e1316;
		font: $bold-font-family;
		.plan {
			font-size: 14pt;
		}
		h3 {
			font: $light-font-family;
			font-size: 36pt;	
		}
		.price:before {
			content: '$';
			font-size: 18pt;
		}
	}
}

.contacts {
	min-height: 695px;
	align-items: center;
	justify-content: center;
	.description {
		margin-bottom: 40px;
	}
	.contact-form {
		font: $bold-font-family;
		.form-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin: 20px 0;
			input {
				width: 350px;
			}
		}
		.input-container {
			display: flex;
			flex-direction: column;
			margin: 15px;
			input {
				height: 36px;
			}
		}
		label:after {
			content: '*';
			color: $second-accent-color;
		}
	}	
	.send-btn {
		padding: 20px 60px;
		background-color: #f6744b;
		color: white;
		margin: 30px;
	}
}

.map {
	min-height: 84px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font: $bold-font-family;
	background-color: #0c1215;
	color: white;
	i {
		margin-left: 15px;
		font-size: 24pt;
		color: #f6744b;
	}
}

footer {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 336px;
	color: white;
	background-color: #171f23;
	.sign {
		color: $second-accent-color;
		font-size: 38pt;
	}
	.description {
		margin: 10px 0;
	}
	.social-media {
		color: white !important;
	}
}
@media screen and (max-width: 993px) {
	h1 {
		font-size: 62pt;
	}
	.be-creative {
		h1, h3 {
			letter-spacing: 5px;
		}
	}
	.video {
		h2 {
			font-size: 28pt;
		}
	}
}

@media screen and (max-width: 769px) {
	header {
		.header-wrapper {
			margin: 0 42px;
		}
	}
	h1 {
		font-size: 24pt;
	}
	h2 {
		font-size: 28pt;
	}
	h3 {
		font-size: 16pt;
	}

	.be-creative {
		h1, h3 {
			letter-spacing: 5px;
		}
	}
	
	.about-us {
		.description{
			margin: 30px 15px 62px;
		}
		.card-wrapper {
			flex-direction: column;
			.card {
				margin: 10px;
			}
		}
	}
	.video {
		.wrapper {
			height: auto;
			flex-direction: column;
		}
		&-description {
			width: auto;
			margin: 15px;
		}
	}

	.our-works {
		.wrapper {
			.description {
				margin: 30px;
			}
			.project-list {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.branch {
				text-align: center;
			}
		}
	}

	.projects {
		.projects {
			min-height: 95px;
		}
	}

	.team {
		h2 {
			margin-top: 15px;
		}
		.description {
			margin: 50px 50px;
		}
		.wrapper {
			flex-direction: column;
			margin-top: 48px;
			.member {
				margin-bottom: 5px;
			}
			.skills {
				max-width: 321px;
				margin-left: 0;
				align-items: center;
				margin-bottom: 10px;
				padding-left: 0;
				.prop-wrapper {
					flex-direction: column;
					.prop-title {
						margin-right: 0;
						width: auto;
					}
					.strip {
						width: 250px;
						.progress {
							width: 190px;
						}
					}
				}
				&-description {
					margin: 25px; 
				}
			}
		}
	}
	.features {
		.features-list {
			flex-direction: column;
		}
	}

	.blog-post {
		margin: 20px 0;
		.description {
			margin:30px 0;
		}
		.blog-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.blog {
				margin: 5px;
				.description {
					text-align: left;
				}
			}
		}
	}

	.pricing {
		.price-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.card {
				margin: 5px;
			}
		}
	}

	.contacts {
		.contact-form {
			.form-container {
				flex-direction: column;
			}
		}
		.description {
			margin: 20px 30px 40px;
		}
	}
}

@media screen and (max-width: 421px) {
	header{
		.header-wrapper {
			margin: 0 10px;
			h2 {
				font-size: 10pt;
			}
		}
	}
	h1 {
		font-size: 16pt;
	}
	h2 {
		font-size: 22pt;
	}
	h3 {
		font-size: 12pt;
	}

	.be-creative {
		h1, h3 {
			letter-spacing: 3px;
		}
	}

	.our-works {
		.wrapper {
			.project-list {
				font-size: 7pt;
			}
		}
	}

	.video {
		&-placeholder {
			height: 230px;
			img {
				height: 230px;
			}
		}
	}
	
	.projects {
		.project {
			min-height: 82px;
		}
	}

	.contacts {
		.contact-form {
			.form-container {
				input {
					width: 250px;
				}
			}
		}
		.blog-post {
			margin: 20px 0;
			.description {
				margin:30px 0;
				text-align: center;
			}
			.blog-list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.blog {
					margin: 5px;
				}
			}
		}
	}
}