@font-face {
  font-family: "bigNoodleTitling";
  src: url("../assets/fonts/bigNoodleTitling/big_noodle_titling.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/roboto/Robotobold.ttf");
}
@font-face {
  font-family: "RobotoThin";
  src: url("../assets/fonts/roboto/Robotothin.ttf");
}
@font-face {
  font-family: "RobotoLight";
  src: url("../assets/fonts/roboto/Robotolight.ttf");
}
@font-face {
  font-family: "MgOpenModataRegular";
  src: url("../assets/fonts/MgOpenModataRegular.ttf");
}
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font: 100% RobotoThin;
  font-size: 14pt;
  margin: 0 20px;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover {
  transition: 0.2s ease-out;
  background-color: #d65d38 !important;
}

input {
  border: none;
  border-bottom: 1px solid #696969;
  font-size: 14pt;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #e84c3d;
}

h1, h2, h3, h4, h5, h6 {
  font: 100% bigNoodleTitling, sans-serif;
  margin: 0;
}

h1 {
  font-size: 64pt;
}

h2 {
  font-size: 44pt;
}

h3 {
  font-size: 36pt;
}

h4 {
  font-size: 27pt;
}

h5 {
  font-size: 18pt;
}

header, section, footer {
  width: 100%;
}

.burger {
  cursor: pointer;
}

.shown {
  display: block !important;
}

.frezze {
  overflow: hidden;
}

.menu {
  display: none;
}
.menu .background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu .menu-content {
  position: absolute;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
}
.menu .menu-content .link-list {
  margin-top: 20px;
}
.menu .menu-content .link-list .link_js {
  margin: 10px 0;
}
.menu .menu-content .link-list .link_js a {
  text-decoration: none;
  color: #000;
}
.menu .menu-content .link-list .link_js a:hover {
  transition: 0.25s ease;
  border-bottom: 2px solid #e84c3d;
}

.strip {
  height: 3px;
  width: 150px;
  background-color: #e84c3d;
  margin-bottom: 20px;
}

header, .header-wrapper {
  min-height: 142px;
}

header {
  background-color: #f8f6f6;
}
header .header-wrapper {
  margin: 0 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper i {
  font-size: 30pt;
}
header .header-wrapper .sign {
  color: #e84c3d;
  font-size: 38pt;
}
header .header-wrapper .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-wrapper .title h2 {
  margin: 0;
  font-size: 32pt;
  letter-spacing: 4px;
  color: #696969;
  margin-left: 30px;
}

section, .wrapper, .scroll, footer {
  display: flex;
  flex-direction: column;
}

.be-creative {
  min-height: 708px;
  background-color: #353535;
  color: #d6d5d5;
  align-items: center;
  justify-content: flex-end;
}
.be-creative .mouse {
  font-size: 36pt;
  margin-bottom: 20px;
}
.be-creative .wrapper {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.be-creative .wrapper .headers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.be-creative .wrapper, .be-creative .scroll {
  align-items: center;
}
.be-creative .scroll {
  margin-bottom: 46px;
  font-size: 12pt;
  justify-content: flex-end;
}
.be-creative h1, .be-creative h3 {
  letter-spacing: 8px;
}

.about-us {
  min-height: 568px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .description {
  font-size: 14pt;
  margin: 30px 0 62px;
}
.about-us .card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-us .card-wrapper .sign {
  color: #e84c3d;
  font-size: 50pt;
}
.about-us .card-wrapper .card {
  margin: 0 10px;
  max-width: 320px;
  min-height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  color: #707070;
}
.about-us .card-wrapper .card-description {
  margin: 0;
}

.video {
  min-height: 430px;
  background-color: #171f23;
  font: 100% RobotoBold, sans-serif;
  color: white;
}
.video .wrapper {
  min-height: 430px;
  flex-direction: row;
  justify-content: center;
}
.video-placeholder {
  position: relative;
  height: 430px;
}
.video-placeholder img {
  width: 100%;
  height: 430px;
}
.video-placeholder .play {
  position: absolute;
  font-size: 150pt;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-description h4 {
  font: 100% RobotoBold, sans-serif;
}
.video-description .play-button {
  font: 100% RobotoBold, sans-serif;
  color: white;
  padding: 8px 30px;
  background-color: #e84c3d;
  border-bottom: 2px solid #b11000;
  margin-top: 30px;
}

.our-works {
  min-height: 294px;
}
.our-works .wrapper {
  min-height: 294px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-works .wrapper .project-list {
  font-size: 14pt;
}
.our-works .wrapper .description {
  margin: 30px 0;
}
.our-works .wrapper .branch {
  display: inline;
  margin: 0 8px;
  font: 100% RobotoLight, sans-serif;
}
.our-works .wrapper .selected {
  border-bottom: 3px solid #e84c3d;
  font: 100% RobotoBold, sans-serif;
}

.projects .project {
  background-color: #e84c3d;
  max-width: 384px;
  height: 175px;
  margin: 0.5px;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 230px;
  background-color: #1c1c1c;
  color: #ececec;
}
.clients .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.clients .client-name {
  margin: 10px 5px;
}

.social-media-list .social-media {
  display: inline-block;
  color: #696969;
}

.team {
  min-height: 813px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team h1 {
  font-size: 48pt;
}
.team .description {
  margin: 50px 200px 0;
}
.team .wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
}
.team .wrapper .member {
  min-height: 419px;
  min-width: 301px;
  padding: 10px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .wrapper .member .photo {
  background-color: #e84c3d;
  border-radius: 50%;
  min-width: 132px;
  min-height: 132px;
}
.team .wrapper .member h4 {
  font: 100% RobotoBold;
  font-size: 20pt;
  margin-top: 34px;
}
.team .wrapper .member h5 {
  font: 100% RobotoLight;
  font-size: 14pt;
}
.team .wrapper .member .social-media-list {
  margin-top: 30px;
}
.team .wrapper .member .circles-list {
  margin-top: 20px;
}
.team .wrapper .member .circles-list .item {
  display: inline-block;
}
.team .wrapper .member .circles-list .item .circle {
  border-radius: 50%;
  background-color: #f8f6f6;
  height: 12px;
  width: 12px;
}
.team .wrapper .member .circles-list .item .selected {
  background-color: #8e8181 !important;
}
.team .wrapper .skills {
  max-width: 640px;
  min-height: 439px;
  background-color: #ebebeb;
  margin-left: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team .wrapper .skills-description {
  text-align: left;
  margin: 25px 0 62px;
}
.team .wrapper .skills h4 {
  font: 100% RobotoBold;
  font-size: 24pt;
}
.team .wrapper .skills .prop-wrapper {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.team .wrapper .skills .prop-wrapper .prop-title {
  width: 125px;
  font: 100% RobotoBold;
  margin-right: 15px;
}
.team .wrapper .skills .prop-wrapper .percent {
  margin-right: 0;
  margin-left: 15px;
  font: 100% RobotoLight;
}
.team .wrapper .skills .prop-wrapper .strip {
  width: 400px;
  height: 2px;
  background-color: white;
}
.team .wrapper .skills .prop-wrapper .strip .progress {
  width: 360px;
  height: 2px;
  background-color: #e84c3d;
}

.features {
  min-height: 384px;
  font: 100% RobotoLight;
  color: white;
  background-color: #171f23;
  justify-content: center;
  align-items: center;
}
.features .strip {
  margin-bottom: 50px;
}
.features h1 {
  font-size: 36pt;
}
.features .features-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.features .features-list .feature {
  display: inline-block;
  margin: 0 20px;
}
.features .features-list .feature .wrapper {
  justify-content: center;
  align-items: center;
}
.features .features-list .feature .wrapper h6 {
  font: 100% RobotoLight;
  font-size: 18pt;
  margin: 18px 0;
  text-align: center;
}
.features .features-list .feature .wrapper .amount {
  font-size: 48pt;
}
.features .features-list .feature .wrapper .sign {
  color: #e84c3d;
  font-size: 60pt;
}

.blog-post {
  min-height: 796px;
  justify-content: center;
  align-items: center;
}
.blog-post .blog-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.blog-post .strip {
  margin-bottom: 20px;
}
.blog-post .description {
  margin: 25px 0;
}
.blog-post .blog {
  margin: 0 5px;
  display: inline-block;
  max-width: 312px;
  min-height: 425px;
  background-color: #ebebeb;
}
.blog-post .blog .img-2 {
  background: url("../assets/images/Image4.png") no-repeat center center;
}
.blog-post .blog .blog-img {
  min-height: 218px;
  background-color: #696969;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.blog-post .blog .blog-img:hover .blog-btn {
  display: flex;
}
.blog-post .blog .blog-img .blog-btn {
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
}
.blog-post .blog .blog-img .blog-btn .sign-dark, .blog-post .blog .blog-img .blog-btn .sign-light {
  font-size: 24pt;
}
.blog-post .blog .blog-img .blog-btn .sign-dark {
  color: #f3d8d3;
}
.blog-post .blog .blog-img .blog-btn .sign-light {
  color: #e67b5d;
}
.blog-post .blog .blog-img .blog-btn:first-child {
  background-color: #e67b5d;
}
.blog-post .blog .blog-img .blog-btn:last-child {
  background-color: #f3d8d3;
}
.blog-post .blog-description {
  padding: 10px;
}
.blog-post .blog-description h5 {
  font: 100% RobotoLight;
  font-size: 18pt;
}
.blog-post .blog-description .description {
  font-size: 12pt;
  text-align: left;
}
.blog-post .blog-description .wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.pricing {
  min-height: 708px;
  background-color: #171f23;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing .card {
  display: inline-block;
  border: 2px solid transparent;
}
.pricing .card:hover {
  transition: 0.2s ease-out;
  border: 2px solid #f6744b;
}
.pricing .card:hover .advantage-amount {
  color: #f6744b;
}
.pricing .strip {
  margin-bottom: 30px;
}
.pricing .properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #1f282c;
}
.pricing .properties .advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .properties .advantages .advantage {
  display: block;
  font: 100% RobotoLight;
  font-size: 14pt;
  margin: 6px 0;
}
.pricing .properties .advantages .advantage-amount {
  font: 100% RobotoBold;
}
.pricing .properties .purchase-btn {
  padding: 10px 25px;
  background-color: #f6744b;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
}
.pricing .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 232px;
  min-height: 128px;
  background-color: #0e1316;
  font: 100% RobotoBold;
}
.pricing .title .plan {
  font-size: 14pt;
}
.pricing .title h3 {
  font: 100% RobotoLight;
  font-size: 36pt;
}
.pricing .title .price:before {
  content: "$";
  font-size: 18pt;
}

.contacts {
  min-height: 695px;
  align-items: center;
  justify-content: center;
}
.contacts .description {
  margin-bottom: 40px;
}
.contacts .contact-form {
  font: 100% RobotoBold;
}
.contacts .contact-form .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}
.contacts .contact-form .form-container input {
  width: 350px;
}
.contacts .contact-form .input-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.contacts .contact-form .input-container input {
  height: 36px;
}
.contacts .contact-form label:after {
  content: "*";
  color: #e84c3d;
}
.contacts .send-btn {
  padding: 20px 60px;
  background-color: #f6744b;
  color: white;
  margin: 30px;
}

.map {
  min-height: 84px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font: 100% RobotoBold;
  background-color: #0c1215;
  color: white;
}
.map i {
  margin-left: 15px;
  font-size: 24pt;
  color: #f6744b;
}

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 336px;
  color: white;
  background-color: #171f23;
}
footer .sign {
  color: #e84c3d;
  font-size: 38pt;
}
footer .description {
  margin: 10px 0;
}
footer .social-media {
  color: white !important;
}

@media screen and (max-width: 993px) {
  h1 {
    font-size: 62pt;
  }

  .be-creative h1, .be-creative h3 {
    letter-spacing: 5px;
  }

  .video h2 {
    font-size: 28pt;
  }
}
@media screen and (max-width: 769px) {
  header .header-wrapper {
    margin: 0 42px;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 28pt;
  }

  h3 {
    font-size: 16pt;
  }

  .be-creative h1, .be-creative h3 {
    letter-spacing: 5px;
  }

  .about-us .description {
    margin: 30px 15px 62px;
  }
  .about-us .card-wrapper {
    flex-direction: column;
  }
  .about-us .card-wrapper .card {
    margin: 10px;
  }

  .video .wrapper {
    height: auto;
    flex-direction: column;
  }
  .video-description {
    width: auto;
    margin: 15px;
  }

  .our-works .wrapper .description {
    margin: 30px;
  }
  .our-works .wrapper .project-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .our-works .wrapper .branch {
    text-align: center;
  }

  .projects .projects {
    min-height: 95px;
  }

  .team h2 {
    margin-top: 15px;
  }
  .team .description {
    margin: 50px 50px;
  }
  .team .wrapper {
    flex-direction: column;
    margin-top: 48px;
  }
  .team .wrapper .member {
    margin-bottom: 5px;
  }
  .team .wrapper .skills {
    max-width: 321px;
    margin-left: 0;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .team .wrapper .skills .prop-wrapper {
    flex-direction: column;
  }
  .team .wrapper .skills .prop-wrapper .prop-title {
    margin-right: 0;
    width: auto;
  }
  .team .wrapper .skills .prop-wrapper .strip {
    width: 250px;
  }
  .team .wrapper .skills .prop-wrapper .strip .progress {
    width: 190px;
  }
  .team .wrapper .skills-description {
    margin: 25px;
  }

  .features .features-list {
    flex-direction: column;
  }

  .blog-post {
    margin: 20px 0;
  }
  .blog-post .description {
    margin: 30px 0;
  }
  .blog-post .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog-post .blog-list .blog {
    margin: 5px;
  }
  .blog-post .blog-list .blog .description {
    text-align: left;
  }

  .pricing .price-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pricing .price-list .card {
    margin: 5px;
  }

  .contacts .contact-form .form-container {
    flex-direction: column;
  }
  .contacts .description {
    margin: 20px 30px 40px;
  }
}
@media screen and (max-width: 421px) {
  header .header-wrapper {
    margin: 0 10px;
  }
  header .header-wrapper h2 {
    font-size: 10pt;
  }

  h1 {
    font-size: 16pt;
  }

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 12pt;
  }

  .be-creative h1, .be-creative h3 {
    letter-spacing: 3px;
  }

  .our-works .wrapper .project-list {
    font-size: 7pt;
  }

  .video-placeholder {
    height: 230px;
  }
  .video-placeholder img {
    height: 230px;
  }

  .projects .project {
    min-height: 82px;
  }

  .contacts .contact-form .form-container input {
    width: 250px;
  }
  .contacts .blog-post {
    margin: 20px 0;
  }
  .contacts .blog-post .description {
    margin: 30px 0;
    text-align: center;
  }
  .contacts .blog-post .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacts .blog-post .blog-list .blog {
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
