@import '../fonts/fonts';

$white: #f8f6f6;
$darkgrey: #696969;
$blue: #171f23;
$red: #e84c3d;
$robotoBold: 100% RobotoBold;
$robotoThin: 100% RobotoThin;
$robotoLight: 100% RobotoLight;
$bigNoodleTitling: 100% bigNoodleTitling;

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

p {
	font: $robotoThin;
	font-size: 14pt;
	margin: 0 20px;
	text-align: center;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:hover {
	transition: 0.2s ease-out;
	background-color: #d65d38 !important;
}

input {
	border:none;
	border-bottom: 1px solid $darkgrey;
	font-size:14pt;
}

input:focus {
	outline: none;
	border-bottom:1px solid $red;
}

h1, h2, h3, h4, h5, h6 {
	font: $bigNoodleTitling, sans-serif;
	margin: 0;
}
h1 {
	font-size: 64pt;
}

h2 {
	font-size: 44pt;
	border-bottom: 3px solid $red;
}

h3 {
	font-size: 36pt;
}

h4 {
	font-size: 27pt;
}

h5 {
	font-size: 18pt;
}

header, .header_wrapper {
	height: 142px;
}

header ,section, footer {
	width: 100%;
}

#burger {
	cursor: pointer;
}

.shown {
	display: block !important;
}

.menu {
	display: none;
	.background {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgba(00,00,00, 0.5);
	}
	.menu-content {
		position: absolute;
		font-size: 18pt;
		display: flex;
		justify-content: center;
		right: 0;
		width: 300px;
		height: 100vh;
		background-color: white;
		ul {
			margin-top: 20px;
			li {
				margin: 10px 0;
				a {
					text-decoration: none;
					color: #000;
				}
				a:hover {
					transition: 0.25s ease;
					border-bottom: 2px solid $red;
				}
			}
		}
		
	}
}

.strip {
		height: 1px;
		width: 50px;
		background-color: $darkgrey;
	}

header {
	background-color: $white;
	h2 {
		border: none;
	}
	.header_wrapper {
	margin: 0 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.sign {
		color: $red;
		font-size: 38pt;
	}
		.title {
		display: flex;
		flex-direction: row;
		align-items: center;
			h2 {
				margin: 0;
				font-size: 40px;
				letter-spacing: 4px;
				color: $darkgrey;
				margin-left: 30px;
			}
		}
		i {
			font-size: 35px;
		}
	}
}

section, .wrapper, .scroll, footer {
	display: flex;
	flex-direction: column;
}

.beCreative {
	height: 708px;
	background-color: #353535;
	color: #d6d5d5;
		.pe-7s-mouse {
			font-size: 36pt;
			margin-bottom: 20px;
		}
	 .wrapper, .scroll {
	 	height: 708px;
	 	align-items: center;
		justify-content: flex-end;
	 }
	 .scroll {
	 	margin-bottom: 46px;
		font-size: 12pt;
	 }
	 	h1, h3 {
	 		letter-spacing: 8px;
	 	}
}

.aboutUs {
	min-height: 568px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		.description {
			font-size: 14pt;
			margin:30px 0 62px;
		}
	.card_wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.sign {
			color: red;
			font-size:50pt;
		}
		.card {
			margin: 0 10px;
			width: 320px;
			height: 195px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #ebebeb;
			color: #707070;
			p {
				text-align: center;
				margin: 0;
			}
		}
	}
}

.video {
	min-height: 430px;
	background-color: $blue;
	font: $robotoBold, sans-serif;
	color: white;
	.wrapper {
		height: 430px;
		flex-direction: row;
		justify-content: center;
	}
	h2 {
		border: none;
	}
	
	.video_placeholder {
		//width: 40%;
		position: relative;
		height: 430px;
		//background: url("../images/video.png") no-repeat center center;
		img {
			width: 100%;
			height: 430px;
		}
		.play {
			position: absolute;
			font-size: 150pt;
			left: 55%;
    	top: 50%;
    	transform: translate(-50%,-50%);
		}
	}
	.video_description {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
			h4 {
			font: $robotoBold, sans-serif;
		}
			p {
			text-align: center;
		}
			.play_button {
			font: $robotoBold, sans-serif;
			color: white;
			width: 127px;
			height: 35px;
			background-color: $red;
			border: none;
			border-bottom: 2px solid #b11000;
			margin-top: 30px; 
		}
	}
}

.ourWorks {
	min-height: 294px;
	.wrapper {
		height: 294px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		ul {
			font-size: 14pt;
		}
		p {
			margin: 30px 0; 
		}
		li {
			display: inline;
			margin: 0 8px;
			font: $robotoLight, sans-serif;
		}
		.selected {
			border-bottom: 3px solid $red;
			font: $robotoBold, sans-serif;
		}
	}
}

.projects {
	.project {
			background-color: $red;
			width: 384px;
			height: 175px;
			margin: 0.5px;
		}
}

.clients {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 230px;
	background-color: #1c1c1c;
	color: #ececec;
	button {
		font-size: 42pt;
		color: #434343;
	}
	.item {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	p {
		margin: 10px 5px;
	}
}

.team {
	min-height: 813px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		h1 {
			font-size: 48pt;
    	border-bottom: 3px solid #e84c3d;
		}
		p {
    	text-align: center;
    	margin: 50px 200px 0;
		}
		.wrapper {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 92px;
			.member {
				height: 439px;
				width: 321px;
				background-color: #ebebeb;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;		
					.photo {
						background-color: $red;
						border-radius: 50%;
						width: 132px;
						height: 132px;
				}
					h4 {
					font: $robotoBold;
					font-size: 20pt;
					margin-top: 34px;
				}
					h5 {
					font: $robotoLight;
					font-size: 14pt;
				}
				ul {
					margin-top: 30px;
					li {
						display: inline-block;
						i {
							color: $darkgrey;
						}
						.circle {
							border-radius: 50%;
							background-color: $white;
							height: 12px;
							width: 12px;
						} 
						.selected {
							background-color: #8e8181 !important;
					}
				}
			}
		}
		.skills {
			width: 640px;
			min-height: 439px;
			background-color: #ebebeb;
			margin-left: 20px;
			padding-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
		    margin-bottom: 62px;
		    text-align: left;
		    margin: 25px 0;
			}
			h4 {
				font: $robotoBold;
				font-size: 24pt;
			}
				.prop_wrapper {
					margin: 20px 0px 20px 0;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					span {
						width: 125px;
						font: $robotoBold;
						margin-right: 15px;
					}
					.percent {
						margin-right: 0;
						margin-left: 15px;
						font: $robotoLight;
					}
					.strip {
					width: 400px;
					height: 2px;
					background-color: white;
					.progress {
						width: 360px;
						height: 2px;
						background-color: $red;
					}
				} 
			}
		}
	}
}

.features {
	min-height: 384px;
	font: $robotoLight;
	color: white;
	background-color: $blue;
	justify-content: center;
	align-items: center;
	h2 {
		border:none;
	}
	.strip {
		margin-bottom: 50px;
	}
	h1 {
		font-size: 36pt;
	}
	li{
		display: inline-block;
		margin: 0 20px;
		.wrapper {
			justify-content: center;
			align-items: center;
			h6 {
				font: $robotoLight;
				font-size: 18pt;
				margin:18px 0;
			}
			span {
				font-size: 48pt;
			}
			.sign {
				color: $red;
				font-size: 60pt;
			}
		}
	}
}

.blog {
	min-height: 796px;
	justify-content: center;
	align-items: center;
	h2 {
		margin-bottom: 20px;
	}
	p {
		margin:25px 0;
		text-align: center;
	}
	h2 {
		border-bottom: 3px solid $red;
	}
	li {
		margin: 0 5px;
		display: inline-block;
		width: 312px;
		height: 425px;
		background-color: #ebebeb;
		p {
		 text-align: center;
		}
		#img_2 {
			background: url("../images/Image4.png") no-repeat center center;
		}
		.img {
			width: 312px;
			height: 218px;
			background-color: $darkgrey
		}
		.blog_description {
			padding: 10px;
			h5 {
				font: $robotoLight;
				font-size: 18pt;
			}
			p {
				font-size: 12pt;
				text-align: left;
			}
			.wrapper {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}

.pricing {
	min-height: 708px;
	background-color: $blue;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		border: none;
	}
	li {
		display: inline-block;
		border:2px solid transparent;
	}
	.card:hover {
		transition: 0.2s ease-out;
		border:2px solid #f6744b;
	}
	.strip {
		margin-bottom: 30px;
	}
	.properties {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 328px;
		width: 232px;
		background-color: #1f282c;
		button {
			width: 125px;
			height: 34px;
			background-color: #f6744b;
			color: white;
			border-radius: 5px;
			margin-top: 30px;
		}
		li {
			display: block;
			font: $robotoLight;
			font-size: 14pt;
			margin: 10px 0;
		}
	}
	.title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 232px;
		height: 128px;
		background-color: #0e1316;
		font: $robotoBold;
		font-size: 14pt;
		h3 {
			font: $robotoLight;
		}
	}
}

.contacts {
	min-height: 695px;
	align-items: center;
	justify-content: center;
	h2 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 40px;
	}
	form {
		font: $robotoBold;
		.form_container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin: 20px 0;
			input {
				width: 370px;
				height: 36px;
			}
		}
		div {
			display: flex;
			flex-direction: column;
			margin: 0 15px;
			input {
				width: 100%;
				height: 36px;
			}
		}
		label:after {
			content: '*';
			color: red;
		}
	}	
	button {
		width: 208px;
		height: 52px;
		background-color: #f6744b;
		color: white;
		margin: 30px;
	}
}

.map {
	min-height: 84px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font: $robotoBold;
	background-color: #0c1215;
	color: white;
	i {
		margin-left: 15px;
		font-size: 24pt;
		color: #f6744b;
	}
}

footer {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 336px;
	color: white;
	background-color: #171f23;
	.sign {
		color: $red;
		font-size: 38pt;
	}
	p {
		margin: 10px 0;
	}
	li {
		display: inline-block;	
	}
}
@media screen and (max-width: 993px) {
	h1 {
 			font-size: 62pt;
 		}
 .beCreative {
 		h1, h3 {
 			letter-spacing: 5px;
 		}
 	}
	.video {
		h2 {
			font-size: 28pt;
		}
	}
}

@media screen and (max-width: 769px) {
	header{
		.header_wrapper {
			margin: 0 42px;
		}
	}
	h1 {
		font-size: 24pt;
	}
	h2 {
		font-size: 28pt;
	}
	h3 {
    font-size: 16pt;
	}

	.beCreative {
		h1, h3 {
			letter-spacing: 5px;
		}
	}
	
	.aboutUs {
		.description{
			font-size: 12pt;
    	margin: 30px 15px 62px;
		}
		.card_wrapper {
			flex-direction: column;
			.card {
				margin: 10px;
			}
		}
	}
	.video {
		.wrapper {
			height: auto;
			flex-direction: column;
		}
		.video_description {
			width: auto;
			margin: 15px;
		}
	}

	.ourWorks {
		.wrapper{
			p {
				margin: 30px;
			}
			ul {
				display: flex;
   		  flex-direction: row;
  		  align-items: center;
			}
			li {
				text-align: center;
			}
		}
	}

	.projects {
		.projects {
			height: 95px;
		}
	}

	.team {
		h2 {
			margin-top: 15px;
		}
		p {
			margin: 50px 50px;
		}
		.wrapper {
			flex-direction: column;
			margin-top: 48px;
			.member {
				margin-bottom: 5px;
			}
			.skills {
				width: 321px;
				margin-left: 0;
				align-items: center;
				margin-bottom: 10px;
				padding-left: 0;
				.prop_wrapper {
					flex-direction: column;
					span {
						margin-right: 0;
						width: auto;
					}
					.strip {
						width: 250px;
						.progress {
							width: 190px;
						}
					}
				}
				p {
					text-align: center;
					margin: 25px; 
				}
			}
		}
	}
	.features {
		li {
			display: block;
			margin: 20px 0;
		}
	}

	.blog {
		margin: 20px 0;
		p {
			margin:30px 0;
			text-align: center;
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			li {
				margin: 5px;
				p {
					text-align: left;
				}
			}
		}
	}

	.pricing {
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			li {
				margin: 5px;
			}
		}
	}

	.contacts {
		form {
			.form_container {
				flex-direction: column;
				input {
					width: 370px;
				}
			}
			div {
					margin: 10px 15px
				}
		}
		p {
			margin: 20px 30px 40px;
		}
	}
}

@media screen and (max-width: 421px) {
	header{
		.header_wrapper {
			margin: 0 10px;
			title {
				h2 {
					font-size: 10pt;
				}
			}
		}
	}
	h1 {
		font-size: 16pt;
	}
	h2 {
		font-size: 22pt;
	}
	h3 {
    font-size: 12pt;
	}

	.beCreative {
		h1, h3 {
			letter-spacing: 3px;
		}
	}

	.ourWorks {
		.wrapper {
			ul {
				font-size: 7pt;
			}
		}
	}

	.video {
		.video_placeholder {
			height: 230px;
			img {
				height: 230px;
			}
		}
	}
	
	.projects {
		.project {
			height: 82px;
		}
	}

	.contacts {
	form {
		.form_container{
			input {
				width: 250px;
			}
		}
	}
	.blog {
		margin: 20px 0;
		.description {
			margin:30px 0;
			text-align: center;
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			li {
				margin: 5px;
			}
		}
	}
}
}