$header-color: #f8f6f6;
$main-color: #696969;
$first-accent-color: #171f23;
$second-accent-color: #e84c3d;
$bold-font-family: 100% RobotoBold;
$thin-font-family: 100% RobotoThin;
$light-font-family: 100% RobotoLight;
$headers-fonts: 100% bigNoodleTitling;